<div class="jumbotron center">
  <h1><%= t( "general.application") %></h1>
  <%= render partial: "static_pages/greeting" %>
<% if logged_in?
     if !current_user.enabled? %>
 <div class="center">
   <%= t( "static_pages.home.disabled", email: current_user.email) %>
 </div>
  <% end %>
<% else %>
  <%= link_to t( "static_pages.home.sign_up"), sign_up_path,
              class: "btn btn-lg btn-primary" %>
  <%= render partial: "static_pages/log_in_help" %>
<% end %>
</div>

