      <div class="row court-day<%= last ? ' last' : ''
                             %>" id="court-day-<%= court_day.date.iso8601 %>">
<%= render partial: "court_days/date",
           locals:  { court_day: court_day, span: date_span} %>
<%  offset = 0
    court_day.sessions.each do |session| %>
        <div class="heading hidden-md hidden-lg">
          <%= t( "court_session.name#{ session.start}.long").capitalize %>
        </div>
<%    if (!admin? || session.expired?) && !session.reason_to_exist?
        offset += session_span
      else %>
        <div class="<%= offset_n_span_to_class( offset, session_span)
                     %>" id="<%= "session-#{ session.start_time.iso8601}" %>">
<%=     render partial: "court_days/session_button",
               locals: { session: session} %>
<%      if admin? %>
<%=       render partial: "cancelled_bookings/index",
                 locals: { late_cancels: session.late_cancels,
                           span: session_span} %>
<%      end %>
<%=     render partial: "bookings/index",
               locals: { bookings: session.bookings, span: session_span} %>
        </div>
<%      offset = 0
      end
    end %>
        <div class="heading hidden-md hidden-lg">
          <%= t( "court_days.index.note") %>
        </div>
        <div class="<%= offset_n_span_to_class( offset, note_span)
                     %>" id="<%= "note-#{ court_day.date.iso8601}" %>">
<%  if admin? && !court_day.note.expired? %>
<%=   render partial: "court_day_notes/new_or_edit",
             locals:  { note: court_day.note} %>
<%  elsif !court_day.note.text.blank? %>
          <%= h( court_day.note.text).gsub( "\n", "<br/>").html_safe %>
<%  end %>
        </div>
      </div>
