
<%
  court_day_rows = [ 1, court_day.morning, court_day.afternoon].max
  1.upto( court_day_rows) do |row|
%>
  <tr id="display-<%= court_day.date %>">
    <% if row == 1 %>
      <%= td_rowspan( court_day_rows, weekday( court_day.date)).html_safe %>
      <%= td_rowspan( court_day_rows, court_day.date).html_safe %>
    <% end %>
    <% if row <= court_day.morning_taken %>
      <td><%= court_day.morning_taken( row - 1) %></td>
    <% else %>
      <%= render :partial => "unbooked_row",
                 :locals => { :row => row,
                              :taken => court_day.morning_taken,
                              :sessions => court_day.morning,
                              :max => court_day_rows} %>
    <% end %>
    <% if row <= court_day.afternoon_taken %>
      <td><%= court_day.afternoon_taken( row - 1) %></td>
    <% else %>
      <%= render :partial => "unbooked_row",
                 :locals => { :row => row,
                              :taken => court_day.afternoon_taken,
                              :sessions => court_day.afternoon,
                              :max => court_day_rows} %>
    <% end %>
    <% if row == 1 %>
      <%= td_rowspan( court_day_rows, h( court_day.notes).gsub( "\n", "<br/>")
                    ).html_safe %>
      <% if current_user.admin? %>
        <td><%= link_to "Ändra", edit_court_day_path( court_day.date),
                        :method => "get", :id => "edit-#{ court_day.date}"
            %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>

