
<tr>
  <td rowspan="3"><%= weekday court_day.date %></td>
  <td rowspan="3"><%= court_day.date %></td>
  <td>NN</td>
  <td rowspan="3"><%= court_day.afternoon %></td>
  <td rowspan="3"><%= court_day.notes %></td>
</tr>
<tr>
  <td>Nisse</td>
</tr>
<tr>
  <td><%= court_day.morning %><%= left_to_book %></td>
</tr>

