<% date = court_day.date
   too_late = court_day.date < Date.today
   if admin? && !too_late %>
        <div class="span1">
          <%= submit_tag( "#{ t( 'general.save'
                               )} #{ t( 'general.cwday')[ date.cwday]}") %>
        </div>
<% else %>
        <div class="span1 weekday">
          <%= t( "general.cwday")[ date.cwday] %>
        </div>
<% end %>
        <div class="span1"><%= date %></div>
<% offset = 0
   [ :morning, :afternoon].each do |session|
     parallel = court_day.send( session)
     bookings = court_day.send( "#{ session}_bookings")
     taken = bookings.count
     booked = current_user.booked? court_day, session
     if (!admin? || too_late) && parallel == 0 && taken == 0
       offset += session_span
     else %>
          <div class="<%= offset_n_span_to_class( offset, session_span)
                       %>" id="<%= "court-day-#{ date}-#{ session}" %>">
<%     if (parallel - taken > 0) || (!too_late && (admin? || booked)) %>
            <div class="row">
              <div class="span<%= session_span %>">
<%       if too_late
           if parallel - taken > 0 %>
                <%= t( "court_day.req.not_met",
                       count: parallel - taken) %>
<%         end
         elsif admin? %>
                <%= label_tag session, t( "court_day.req.label") %>
                <%= select_tag "#{ session}-#{ date}",
                  options_for_select( (PARALLEL_SESSIONS_MAX + 1).times.
                                        inject( [ ]){ |acc, n| acc << n},
                                      parallel),
                  :class => "parallel-sessions" %>
<%         if parallel - taken > 0 %>
              </div>
            </div>
            <div class="row">
              <div class="span<%= session_span %>">
<%           days_to_go = court_day.date - Date.today
             if days_to_go < BOOKING_DAYS_AHEAD_MIN %>
                <div class="to-book urgent">
<%           elsif days_to_go < BOOKING_DAYS_AHEAD_MAX %>
                <div class="to-book">
<%           else %>
                <div>
<%           end %>
                  <%= t( "court_day.req.left.long",
                         count: parallel - taken) %>
                </div>
<%         elsif parallel - taken < 0 %>
                <div class="overbooked">
                  <%= t( "court_day.req.over").capitalize %>
                </div>
<%         end %>
<%       elsif booked
           if taken > parallel %>
                <div class="overbooked">
<%         end %>
                  <%= submit_tag t( "booking.#{ session}.unbook"
                                  ).capitalize %>
<%         if taken > parallel %>
                  (<%= t( "court_day.req.over") %>)
                </div>
<%         elsif parallel > taken %>
                (<%= t( "court_day.req.left.short",
                        count: parallel - taken) %>)
<%         end
         elsif parallel > taken %>
                <%= submit_tag t( "booking.#{ session}.book") %>
                (<%= t( "court_day.req.left.short",
                        count: parallel - taken) %>)
<%       end %>
              </div>
            </div>
<%     end
       bookings.each do |booking| %>
            <div class="row">
              <div class="span<%= session_span %>">
<%       if current_user? booking.user %>
                <b>
<%       end
         if admin? %>
                <%= link_to booking.user.name, booking_path( booking),
                            method: :delete,
                            data: { confirm:
                                    t( "booking.unbook.confirm",
                                       name: booking.user.name,
                                       date: booking.court_day.date,
                                       session: t( "booking.#{ booking.session
                                                             }.short"))} %>
<%       else %>
                <%= booking.user.name %>
<%       end
         if current_user? booking.user %>
                </b>
<%       end %>
              </div>
            </div>
<%     end %>
          </div>
<%     offset = 0
     end
   end  # [ :morning, :afternoon].each do |session|
   if admin? && !too_late
     # the following is to prevent browser automatic fill-in
     notes = court_day.notes.blank? ? " " : court_day.notes %>
          <div class="span<%= notes_span %>">
            <div class="row">
              <div class="span<%= notes_span %>">
                <%= text_area_tag "notes-#{ date}", notes %>
              </div>
            </div>
          </div>
<% elsif !court_day.notes.blank? %>
          <div class="<%= offset_n_span_to_class( offset, notes_span) %>">
            <%= h( court_day.notes).gsub( "\n", "<br/>").html_safe %>
          </div>
<% end %>

