<%  booked = current_user.booked? session
    if !session.fully_booked? || (!session.expired? && (admin? || booked)) %>
          <div class="row">
            <div class="span<%= span %>">
<%    if session.expired?
        if !session.fully_booked? %>
              <%= t( "court_session.need.not_met", count: session.needed) %>
<%      end
      elsif admin? %>
<%=     render partial: "court_sessions/new_or_edit",
               locals: { session: session} %>
<%    elsif booked %>
              <div style="float:left">
                <%= form_tag booking_path( booked), method: :delete,
                                                    class: "form-inline" do %>
                  <%= submit_tag t( "booking.cancel.label",
                                    session: t( "court_session.name#{
                                                  session.start}.short")) %>
                <% end %>
              </div>
<%      if session.overbooked? %>
              <span class="overbooked">
                &nbsp;(<%= t( "court_session.need.over") %>)
              </span>
<%      elsif !session.fully_booked? %>
              &nbsp;(<%= t "court_session.need.left.short",
                           count: session.needed %>)
<%      end
      elsif !session.fully_booked? %>
              <div style="float:left">
<%=     render partial: "bookings/new",
               locals: { booking: Booking.new( user: current_user,
                                               court_session: session),
                         session_name: t( "court_session.name#{ session.start
                                                              }.short")} %>
              </div>
              <div>
                &nbsp;(<%= t "court_session.need.left.short",
                             count: session.needed %>)
              </div>
<%    end %>
            </div>
          </div>
<%  end %>
