<div class="weekpicker" id="weekpicker-<%= wp_id %>">
  Ange ett datum i första visade veckan
  (spelar ingen roll vilken dag i veckan)
  <%= form_tag court_days_path, :method => "get", :class => "form-inline" do %>
    <%= submit_tag LAST_WEEK_LABEL %>
    <%= text_field_tag :start_date, @start_date,
                       :id => "datepicker-#{ wp_id}",
                       :class => "datepicker" %>
    <%= submit_tag "OK" %>
    <%= submit_tag NEXT_WEEK_LABEL %>
  <% end %>
</div>
