
<%
  provide( :title, 'Rondningar')
%>
<h1>Rondningar</h1>

<%= render :partial => "weekpicker", :locals => { :wp_id => "top"} %>
<%
  if @court_day
%>
<%= render :partial => "shared/error_messages",
           :locals => { :model => @court_day} %>
<%
  end
%>
<div id="court-days">
<% 
  session_span = 2
  notes_span = 6
  if @ajl_debug
%>
  <p><%= @ajl_debug.inspect.html_safe %></p>
<% 
  end
%>
  <div class="row heading">
    <div class="offset1 span1">Datum</div>
    <div class="span<%= session_span %>">Förmiddag</div>
    <div class="span<%= session_span %>">Eftermiddag</div>
    <div class="span<%= notes_span %>">Noteringar</div>
  </div>
<%
  @court_days.each_with_index do |court_day, ix|
%>
  <div class="row court-day<%= ix == @court_days.count - 1 ? ' last' : ''
                            %>" id="court-day-<%= court_day.date%>">
    <div class="span1 weekday"><%= weekday court_day.date %></div>
    <div class="span1"><%= court_day.date %></div>
    <div class="span<%= 2 * session_span + notes_span %>">
<%
  if current_user.admin?
%>
      <div class="row">
        <%= form_tag court_day_path( court_day.date.to_s), :method => "put",
                     :class => "form-inline" do %> 
<%
    [ "morning", "afternoon"].each do |session|
      parallel = court_day.send( session)
    # parallel_id = "#{ court_day.date}-#{ session}"
%>
        <div class="span<%= session_span %>">
          <%= label_tag session, "Behov" %>
          <%= select_tag session,
            options_for_select( (PARALLEL_SESSIONS_MAX + 1).times.
                                  inject( [ ]){ |acc, n| acc << n},
                                parallel),
            :class => "parallel-sessions" %>
        </div>
<%
    end
%>
        <div class="span<%= notes_span - 1 %>">
          <%= text_area_tag :notes, court_day.notes %>
        </div>
        <div class="span1">
          <%= hidden_field_tag "start_date", @start_date %>
          <%= submit_tag "Spara" %>
        </div>
        <% end %>
      </div>
<%
  end
  offset = 0
%>
      <div class="row">
<%
  [ "morning", "afternoon"].each do |session|
    parallel = court_day.send( session)
    if parallel > 0
%>
        <div class="<%= offset_n_span_to_class( offset, session_span) %>">
<%    
      offset = 0
      taken = court_day.send( session + "_taken")
      if parallel - taken > 0
%>
          <div class="row">
            <div class="span<%= session_span
                             %>"><%= parallel - taken %> kvar att boka</div>
          </div>
<%   
      end
      taken.times do
%>
          <div class="row">
            <div class="span<%= session_span %>">NN</div>
          </div>
<%
      end
%>
        </div>
<%
      else
        offset += session_span
      end
    end
    unless current_user.admin?
%>
        <div class="<%= offset_n_span_to_class( offset, notes_span) %>">
          <%= h( court_day.notes).gsub( "\n", "<br/>").html_safe %>
        </div>
<%
    end
%>
      </div>
    </div>
  </div>
<%
  end
%>
</div>

<%= render :partial => "weekpicker", :locals => { :wp_id => "bottom"} %>

