<%  provide( :title, t( "court_days.index.title")) %>
    <h1><%= t( "court_days.index.title") %></h1>
<% if @court_day %>
<%= render :partial => "shared/error_messages",
           :locals => { :model => @court_day} %>
<% end
   session_span = 3
   notes_span = 4 %>
    <div id="court-days">
      <div class="row heading">
        <div class="offset1 span1"><%= t( "general.date").capitalize %></div>
        <div class="span<%= session_span %>">
          <%= t( "booking.morning.long").capitalize %>
        </div>
        <div class="span<%= session_span %>">
          <%= t( "booking.afternoon.long").capitalize %>
        </div>
        <div class="span<%= notes_span %>">
<% disabled_count = current_user.admin? ?
     User.where( "court_id = ? and role = ?",
                 current_user.court.id, "disabled").count : 0
   if  disabled_count > 0 %>
          <%= link_to t( "court_days.index.users_to_enable",
                         count: disabled_count),
                      users_path, :class => "disabled-user" %>
<% else %>
          <%= t( "activerecord.attributes.court_day.notes") %>
<% end %>
        </div>
      </div>
<% @court_days.each_with_index do |court_day, ix|
     date = court_day.date.to_s
     too_late = court_day.date < Date.today
     form_path = current_user.admin? ? court_day_path( date) :
                                       user_path( current_user) %>
      <div class="row court-day<%= ix == @court_days.count - 1 ? ' last' : ''
                            %>" id="court-day-<%= date %>">
<%   if too_late %>
<%= render :partial => "court_days/data_cols",
           :locals  => { :court_day => court_day,
                         :session_span => session_span,
                         :notes_span => notes_span} %>
<%   else %>
        <%= form_tag form_path, :method => "put", :class => "form-inline" do %> 
<%     unless current_user.admin?  %>
          <%= hidden_field_tag "court_day", court_day.id || 0 %>
<%     end %>
<%= render :partial => "court_days/data_cols",
           :locals  => { :court_day => court_day,
                         :session_span => session_span,
                         :notes_span => notes_span} %>
        <% end  # form_tag %>
<%   end %>
      </div>
<% end  # @court_days.each_with_index %>
    </div>
<%= render :partial => "court_days/weekpicker",
           :locals  => { :wp_id => "bottom"} %>
