<%  provide( :title, @title) %>
    <h1><%= @title %></h1>
<%  if @model_with_errors %>
<%=   render partial: "shared/error_messages",
             locals: { model: @model_with_errors} %>
<%  end %>
    <div id="court-days">
<%= date_span = 2
    session_span = 3
    note_span = 4
    render partial: "court_days/heading",
           locals: { date_span: date_span, session_span: session_span,
                     note_span: note_span} %>
<%  @court_days.each_with_index do |court_day, ix| %>
<%=   render partial: "court_days/court_day",
             locals:  { court_day: court_day, date_span: date_span,
                        session_span: session_span, note_span: note_span,
                        last: ix == @court_days.count - 1} %>
<%  end %>
    </div>
<%=   render partial: "court_days/dateselector",
             locals:  { ds_id: "bottom"} %>

