<%  provide( :title, 'Rondningar') %>
    <h1>Rondningar</h1>
<% if @court_day %>
<%= render :partial => "shared/error_messages",
           :locals => { :model => @court_day} %>
<% end
   session_span = 2
   notes_span = 6 %>
    <div id="court-days">
      <div class="row heading">
        <div class="offset1 span1">Datum</div>
        <div class="span<%= session_span %>">Förmiddag</div>
        <div class="span<%= session_span %>">Eftermiddag</div>
        <div class="span<%= notes_span %>">
<% disabled = User.where "role = ?", "disabled"
   if  disabled.count > 0 && current_user.admin? %>
          <%= link_to "#{ disabled.count} ny att aktivera", users_path,
                  :class => "disabled-user" %>
<% else %>
          Noteringar
<% end %>
        </div>
      </div>
<% @court_days.each_with_index do |court_day, ix|
     date = court_day.date.to_s
     too_late = court_day.date < Date.today
     form_path = current_user.admin? ? court_day_path( date) :
                                       user_path( current_user) %>
      <div class="row court-day<%= ix == @court_days.count - 1 ? ' last' : ''
                            %>" id="court-day-<%= date %>">
        <div class="span1 weekday"><%= day_of_week court_day.date %></div>
        <div class="span1"><%= date %></div>
<%   if too_late %>
<%= render :partial => "court_days/data_cols",
           :locals  => { :court_day => court_day,
                         :session_span => session_span,
                         :notes_span => notes_span} %>
<%   else %>
        <%= form_tag form_path, :method => "put", :class => "form-inline" do %> 
<%     unless current_user.admin?  %>
          <%= hidden_field_tag "court_day", court_day.id || 0 %>
<%     end %>
<%= render :partial => "court_days/data_cols",
           :locals  => { :court_day => court_day,
                         :session_span => session_span,
                         :notes_span => notes_span} %>
        <% end  # form_tag %>
<%   end %>
      </div>
<% end  # @court_days.each_with_index %>
    </div>
<%= render :partial => "court_days/weekpicker",
           :locals  => { :wp_id => "bottom"} %>
