<li id="user-<%= user.id %>">
<% if master? %>
  <%= link_to user.court.name, user.court.link %> |
<% end %>
  <%= link_to user.name, user %>
<% if admin? && current_user.role_to_order > user.role_to_order %>
  <% unless user.enabled? %>
    | <%= link_to t( "user.enable.label"), enable_user_path( user),
                  :method => :put,
                  :data => { :confirm => t( "user.enable.confirm",
                                            name: user.name)},
                  :class => "disabled-user" %>
  <% end %>
    | <%= link_to t( "users.index.rescue"), edit_user_path( user) %>
    | <%= link_to t( "general.destroy"), user,
                  :method => :delete,
                  :data => { :confirm => t( "user.destroy.confirm",
                                            name: user.name)} %>
  <% if user.enabled? %>
    | <%= link_to t( "user.disable.label"), disable_user_path( user),
                  :method => :put,
                  :data => { :confirm => t( "user.disable.confirm",
                                            name: user.name)} %>
  <% end %>
  <% if master? && !user.admin? %>
    | <%= link_to t( "user.promote.label"), promote_user_path( user),
                  :method => :put,
                  :data => { :confirm => t( "user.promote.confirm",
                                            user: user.name,
                                            court: user.court.name)} %>
  <% end %>
<% end %>
</li>

