<% provide( :title, t( "users.edit.title", name: @user.name)) %> 
<h1><%= t( "users.edit.title", name: @user.name) %></h1>

<div class="row">
  <%= bootstrap_tag :div, 6, 3 %>
    <%= form_for( @user) do |f| %>
      <%= render :partial => "shared/error_messages",
                 :locals => { :model => @user} %>
      <%= f.label :name %>
      <%= f.text_field :name, :disabled => @user != current_user %>
      <%= f.label :email %>
      <%= f.text_field :email, :disabled => @user != current_user %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit t( "users.edit.save"),
                   :class => "btn btn-primary" %>
    <% end %>
  </div>
</div>

