
<% provide( :title, "Ändra #{ current_user.name}") %> 
<h1>Ändra <%= current_user.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for( @user) do |f| %>
      <%= render :partial => "shared/error_messages",
                 :locals => { :model => @user} %>
      <%= f.label :name, "Namn" %>
      <%= f.text_field :name %>
      <%= f.label :email, "E-post" %>
      <%= f.text_field :email %>
      <%= f.label :password, "Lösenord" %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation, "Bekräfta lösenord" %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit "Spara ändringar", :class => "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

