<% provide( :title, t( "users.new.title")) %>
<h1><%= t( "users.new.title") %></h1>
<div class="row">
  <%= bootstrap_tag :div, 6, 3 %>
    <%= form_for( @user) do |f| %>
      <%= render :partial => "shared/error_messages",
                 :locals => { :model => @user} %>
      <%= f.label :court %>
      <%= f.collection_select :court, @courts, :id, :name,
                              prompt: t( "court.prompt") %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :email%>
      <%= f.text_field :email %>
      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation %>
      <%= f.submit t( "users.new.save"), class: "btn btn-lg btn-primary" %>
    <% end %>
  </div>
</div>

