<% provide( :title, @user.name) %>
<div class="row">
  <aside class="span12">
    <section>
      <h1><%= @user.name %></h1>
    </section>
<% if admin? || current_user?( @user) %>
    <section>
      <%= @user.email %>
    </section>
<%   if current_user?( @user) %>
    <section>
      <%= link_to "Ändra", edit_user_path( current_user) %>
    </section>
<%   end %>
<% end %>
<% if master? && current_user?( @user)%>
    <section><%= link_to "Domstolar", courts_path %></section>
<% end %>
  </aside>
</div>
<% if master? && current_user?( @user) %>
<%= render :partial => "shared/xml_dump_n_restore" %>
<% end %>
