              <div style="float:left">
                <%= form_for session, html: { class: "form-inline"} do |f| %>
<%  if session.new_record? %>
                  <%= f.hidden_field :court_id %>
                  <%= f.hidden_field :date %>
                  <%= f.hidden_field :start %>
<%  end %>
                  <%= f.label :need %>
                  <%= f.select :need,
                               options_for_select( (PARALLEL_SESSIONS_MAX + 1
                                                   ).times.to_a, session.need
                                                 ),
                               { }, onchange: "this.form.submit();" %>
                <% end %>
              </div>
<%  if !session.fully_booked?
      days_to_go = session.date - Date.current
      if days_to_go < BOOKING_DAYS_AHEAD_MIN %>
              <div class="to-book immediate">
<%    elsif days_to_go < BOOKING_DAYS_AHEAD_MAX %>
              <div class="to-book urgent">
<%    else %>
              <div class="to-book">
<%    end %>
                <%= "&nbsp;".html_safe + t( "court_session.need.left.long",
                                            count: session.needed) %>
              </div>
<%  elsif session.overbooked? %>
              <div class="overbooked">
                <%= "&nbsp;".html_safe + t( "court_session.need.over"
                                          ).capitalize %>
              </div>
<%  end %>

