  <li id="court-<%= court.id %>">
    <%= court.name %>
    | <%= link_to court.link, court.link %>
    | <%= link_to t( "court.change_name_or_link"), edit_court_path( court) %>
<% if court.users.count == 0 %>
    | <%= link_to t( "general.destroy"), court,
                  :method => :delete,
                  :data => { :confirm => t( "court.destroy.confirm",
                                            name: court.name)} %>
<% end %>
  </li>
