<% provide( :title, @court.name) %>
<h1><%= t "courts.edit.title", name: @court.name %></h1>

<div class="row">
  <%= bootstrap_tag :div, 6, 3 %>
    <%= form_for @court do |f| %> 
      <%= render :partial => "shared/error_messages",
                 :locals => { :model => @court} %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :link %>
      <%= f.text_field :link %>
      <%= f.submit t( "general.edit"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

