<% provide( :title, t( "courts.index.title")) %>
<h1><%= t( "courts.index.title") %></h1>

<%= render :partial => "shared/error_messages",
           :locals => { :model => @new_court} %>
<ul class="index">
  <%= render @courts %>
  <li id="court-new">
    <%= form_for @new_court, :html => { :class => "form-inline"} do |f| %> 
      <%= f.label :name, t( "court.create") %>
      <%= f.text_field :name %>
      <%= f.label :link %>
      <%= f.text_field :link %>
      <%= f.submit t( "general.save"), class: "btn btn-primary"%>
    <% end %>
  </li>
</ul>

