<div class="row database-management" id="database-management">
  <div class="col-md-6" id="search-form">
    <%= form_tag database_path, method: "get",
                                class: "form-inline pull-right" do |f| %>
      <%= label_tag :count_date, t( "database.count_date.label",
                                    rows: database.row_count( count_date)) %>
      <%= text_field_tag :count_date, count_date,
                         class:    "datepicker",
                         onchange: "this.form.submit();" %>
      <noscript>
        <%= submit_tag "OK" %>
      </noscript>
    <% end %>
  </div>
  <div class="col-md-6" id="drop-older-form">
    <div class="pull-left">
      <%= form_for database, url: database_path,
            html: { method: "put", class: "form-inline"} do |f| %>
        <%= f.submit t( "database.drop_older.label"),
                     data: { confirm: t( "database.drop_older.confirm",
                                         date: count_date)} %>
      <% end %>
    </div>
    <div>
      &nbsp;
      <%= t( "database.oldest_date", date: database.oldest_date) %>
    </div>
  </div>
</div>

