<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bokning av vittnesstöd", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Start",    root_path   %></li>
          <li><%= link_to "Hjälp",    '#'         %></li>
          <% if signed_in? %>
            <li><%= link_to "Användare", '#' %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Inloggad <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mina uppgifter", current_user %></li>
                <li><%= link_to "Inställningar", '#' %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Logga ut", signout_path, :method => "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Logga in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

