<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Bokning av vittnesstöd", root_path, :id => "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Start", root_path %></li>
<% if logged_in? %>
  <% if enabled? %>
            <li><%= link_to "Rondningar", court_days_path %></li>
            <li><%= link_to "Användare", users_path %></li>
  <% end %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Inloggad <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
  <% if enabled? %>
                <li><%= link_to "Mina uppgifter", current_user %></li>
  <% end %>
                <li><%= link_to "Ändra #{ current_user.name}",
                                edit_user_path( current_user) %></li>
                <li class="divider"></li>
                <li>
                <%= link_to "Logga ut", log_out_path,
                            :method => "delete" %>
                </li>
              </ul>
            </li>
<% else %>
            <li><%= link_to "Logga in", log_in_path %></li>
<% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>

